{% extends "base.html" %}

{% block css %}
<style>html {background-image: url(../static/img/background.jpg);}</style>
<link rel="stylesheet" href="../static/css/background.css">
<link rel="stylesheet" href="../static/css/text.css">
<link rel="stylesheet" href="../static/css/gradient-button.css">
<link rel="stylesheet" href="../static/css/input.css">
<link rel="stylesheet" href="../static/css/side_panel.css">
{% endblock %}

{% block script %}
<script language="JavaScript" src="./static/javascript/side_panel.js"></script>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="box">
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="input-container" align="center">{{ form.category(type="number", class="form-control") }}
            <label>{{ form.category.label }}</label>
        </div>
        {% for error in form.category.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
        <div class="input-container" align="center">{{ form.text_of_the_task(type="text", class="form-control") }}
            <label>{{ form.text_of_the_task.label }}</label>
        </div>
        {% for error in form.text_of_the_task.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
        <div class="input-container" align="center">{{ form.answers(type="text", class="form-control") }}
            <label>{{ form.answers.label }}</label>
        </div>
        {% for error in form.answers.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
        <div class="input-container" align="center">{{ form.adding(type="text", class="form-control") }}
            <label>{{ form.adding.label }}</label>
        </div>
        {% for error in form.adding.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="gradient-button") }}</p>
        <p>{{message}}</p>
    </form>
</div>
{% endblock %}
