{% extends "base.html" %}

{% block css %}
<style>html {background-image: url(../static/img/background.jpg);}</style>
<link rel="stylesheet" href="../static/css/side_panel.css" type="text/css">
<link rel="stylesheet" href="../static/css/background.css">
<link rel="stylesheet" href="../static/css/text.css">
<link rel="stylesheet" href="../static/css/gradient-button.css">
{% endblock %}

{% block script %}
<script language="JavaScript" src="../static/javascript/side_panel.js"></script>
{% endblock %}

{% block content %}
<p align="center">
    Поздравляем, Вы выполнили все задания {{ category }} категории!
</p>
{% endblock %}
