{% extends "base.html" %}

{% block css %}
<style>html {background-image: url(../static/img/background.jpg);}</style>
<link rel="stylesheet" href="../static/css/custom_selection_field.css">
<link rel="stylesheet" href="../static/css/side_panel.css" type="text/css">
<link rel="stylesheet" href="../static/css/background.css">
<link rel="stylesheet" href="../static/css/text.css">
<link rel="stylesheet" href="../static/css/gradient-button.css">
{% endblock %}

{% block script %}
<script language="JavaScript" src="../static/javascript/custom_selection_field.js"></script>
<script language="JavaScript" src="../static/javascript/side_panel.js"></script>
{% endblock %}

{% block content %}
<h1 align="center">Подготовка к ЕГЭ по русскому языку</h1>
<p align="center">
    {% if not current_user.is_authenticated %}
    <a class="gradient-button" href="/register">Зарегистрироваться</a>
    <a class="gradient-button" href="/login">Войти</a>
    {% else %}
<form method="post">
    <div class="custom-select" style="width:400px;position:center;margin:auto;">
        <select name="task" id="task">
            <option value="0">Выберите задание:</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>
    </div>
    <div align="center">
        <button type="submit" class="gradient-button">Найти</button>
    </div>
</form>
{% endif %}
<p> {{ message }} </p>
</p>
{% endblock %}
