{% extends "base.html" %}

{% block css %}
<style>html {background-image: url(../static/img/background.jpg);}</style>
<link rel="stylesheet" href="../static/css/side_panel.css" type="text/css">
<link rel="stylesheet" href="../static/css/background.css">
<link rel="stylesheet" href="../static/css/gradient-button.css">
<link rel="stylesheet" href="../static/css/text.css">
{% endblock %}

{% block script %}
<script language="JavaScript" src="./static/javascript/side_panel.js"></script>
{% endblock %}

{% block content %}
<div align="center">
    <p>
        {% if find_picture %}
        <img src="static/img/avatars/{{ current_user.id }}.jpg" width="128" height="128"
             style="border: 4px double #476DD5; padding: 2px;">
        {% elif not find_picture %}
        <img src="static/img/avatars/undefined_avatar.jpg" width="128" height="128"
             style="border: 4px double #476DD5; padding: 2px;">
        {% endif %}
    </p>
    <p>Никнейм: {{ current_user.nickname }}</p>
    <p>Решено заданий: {{ current_user.task_completed }}</p>
    <p>Почта: {{ current_user.email }}</p>
    <p>
    <a class="gradient-button" href="/profile_redact">Редактировать информацию</a>
        <a class="gradient-button" href="/password_change">Сменить пароль</a>
    </p>

</div>
{% endblock %}
